.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    animation: fadeIn 1s;
} 
.food-item:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}  

.food-item-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p{
    font-size: max(1.5vw,16px);
    font-weight: 500;
    color: #262626;
}